@use '../variables' as *;
@use '../mixins' as *;

.member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loading{
  color: $gray;
}

.order-card {
  border: 1px solid $gray-soft;
  margin-bottom: 12px;
  border-radius: 12px;
  background: $white;
  transition: all 0.3s ease;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  min-width: 600px;
  @include respond(sm) {min-width: 300px;}
}

.order-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}

.order-header:hover {
  background: $gray-soft;
}

.order-header.is-active {
  border-bottom: 1px solid $gray-soft;
}

.header-main .order-num {
  font-weight: bold;
  color: $black;
  margin-right: 12px;
}

.header-main .order-date {
  color: $gray;
  font-size: 0.9em;
}

.header-side {
  display: flex;
  align-items: center;
  gap: 12px;
}

.arrow-icon {
  font-size: 12px;
  color: $gray;
  transition: transform 0.3s;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.order-row {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid $gray-soft;
  align-items: center;
}

.order-pic{
  width: 60px;
  height: 60px;
  margin: 0px 6px;
  display: flex;
  align-items: center;  
  justify-content: center; 
  @include respond(sm) { width: 100px; height: 100px; }
  .order-img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;

  }
}

.shipping-detail-box {
    margin-top: 15px;
    padding: 12px;
    background-color: #f9f9f9;
    border-radius: 6px;
    font-size: 0.9rem;
    line-height: 1.6;
}

.section-label {
    font-weight: bold;
    color: #e67e22; /* 橘色點綴 */
    margin-bottom: 5px;
    border-bottom: 1px dashed #ddd;
}

.detail-content p {
    margin: 4px 0;
}

.order-info{
  margin: 10px;
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;

  @include respond(sm) {display: grid; margin-left: 20px;}

  .order-title {
    flex: 0 0 200px; /* 固定名稱寬度，規格就會對齊 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 字太長會變... */
  }

  .order-variant {
    margin-left: 20px;
    color: $gray;
    flex: 1;
    @include respond(sm) {margin-left: 0;}
  }

  .order-price{
    margin-left: auto; 
    font-weight: bold;
    @include respond(sm) {margin-left: 0;}
  }
}

.order-footer {
  padding: 16px;
  text-align: right;
  background: $gray-soft;
  color: $gray-dark;
}

.grand-total {
  font-size: 1.2em;
  color: $primary;
}

.status-tag {
  background: $bg-blue;
  color: $text-dark;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.85em;
}